<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Dominio" value="PARALQA.Local" />
    <add key="DominioOU" value="DC=PARALQA,DC=Local" />
    <add key="RutaOU" value="OU=ClientesQA,OU=CloudQA" />
    <add key="Cliente" value="Prueba02" />
    <add key="Rif" value="14093340" />
    <add key="Producto" value="Saw" />
    <add key="CantidadUsuario" value="2" />
  </appSettings>
  
  
</configuration>